
header h1{
    color: rgb(38, 38, 97);
    text-align: center;

}

div.tabla1{
    display: flex;
    border-color: black;
    border: 2px solid;
    width: 80%;
    height: 120px;
    margin: 0 auto;
    
}


div.tabla1_elemento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
    border: 1px solid;
    border-color: black;


}

div.tabla1_elemento p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: red;
    background-color: aquamarine;
    vertical-align: center;
}


header h1{
    display: flex;
    background-color: rgb(43, 187, 187);
    padding-bottom: 15px;
    width: 100%;
    justify-content: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}








